@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService;

@{
    var result = await AuthorizationService.AuthorizeAsync(User, "ShowAdminMenu");
}

@if (result.Succeeded)
{
    <div class="dropdown">
        <button class="btn btn-outline-danger dropdown-toggle" data-bs-toggle="dropdown" href="#" id="manageDropdownMenu">
            <i class="fas fa-cog"></i> Manage
        </button>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="manageDropdownMenu">
            <a class="dropdown-item" asp-action="Index" asp-controller="Database" asp-area="DatabaseManage">
                Database
            </a>
            <a class="dropdown-item" asp-action="Index" asp-controller="Contact" asp-area="Contact">
                Quản lý liên hệ
            </a>
            <a class="dropdown-item" asp-action="Index" asp-controller="Role" asp-area="Identity">
                Quản Lý Role (vai trò)
            </a>
            <a class="dropdown-item" asp-action="Index" asp-controller="User" asp-area="Identity">
                Quản Lý User (thành viên)
            </a>
            <a class="dropdown-item" asp-action="Index" asp-controller="Category" asp-area="Blog">
                Quản lý danh mục Blog
            </a>
            <a class="dropdown-item" asp-action="Index" asp-controller="Post" asp-area="Blog">
                Quản lý bài viết Blog
            </a>
            <a class="dropdown-item" asp-action="Index" asp-controller="CategoryProduct" asp-area="Product">
                Quản lý danh mục sản phẩm
            </a>
            <a class="dropdown-item" asp-action="Index" asp-controller="ProductManage" asp-area="Product">
                Quản lý bài viết sản phẩm
            </a>
            @* target="_blank" => mở ra trang mới *@
            <a target="_blank" class="dropdown-item" asp-action="Index" asp-controller="FileManager" asp-area="Files">
                Quản lý Files
            </a>
        </div>
    </div>
}