@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-md-3">
        @await RenderSectionAsync("Sidebar", false)
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>