@model string
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="vi">
<head>
    <title></title>
</head>
<body>
<div class="card bg-warning text-dark p-3 m-3">
    <h1 class="card-header">Xin chào : @Model</h1>
    <div class="card-body">
        <p class="card-text">
            Bạn đang tìm hiểu về View (.cshtml) trong ASP.NET MVC
        </p>
    </div>
</div>
<hr/>
@Path
</body>
</html>