@model ProductModel
@{
    ViewBag.Title = ViewData["Title"] ?? "View Product";
    Layout = "_Layout";
    var product = ViewBag.product as ProductModel;
}
<p>@ViewBag.abc</p>
<div class="card bg-danger text-white">
    <div class="card-header">
        <h1>Product Information</h1>
    </div>
    <div class="card-body">
        <h2 class="card-text">
            <ol>
                <li>ID :
                    @{
                        System.Diagnostics.Debug.Assert(product != null, nameof(product) + " != null");
                    }
                    @product.Id</li>
                <li>Name : @product.Name</li>
                <li>Price : @product.Price</li>
            </ol>
        </h2>
    </div >
</div>
