body {
  background: #ffffff;
  color: #1d1d1f;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.app-navbar {
  background: rgba(7, 10, 65, 0.8);
}
.app-navbar .text-dark {
  color: #b9c3ce !important;
}
.app-navbar .text-dark:hover {
  color: white !important;
}
.app-navbar .navbar-brand {
  color: #ffffff;
}
.app-navbar .navbar-brand:hover {
  color: rgba(35, 41, 185, 0.8) !important;
}
.app-navbar .dropdown-toggle {
  border-color: transparent !important;
  color: #ffffff;
}
.app-navbar .dropdown-toggle:hover {
  background-color: transparent;
  color: #0a53be;
}
.app-navbar .dropdown-toggle:focus {
  background-color: transparent;
  border-color: transparent !important;
}

.nav-link {
  color: #b9c3ce !important;
}
.nav-link:hover {
  color: white !important;
}

.category-sidebar ul, .category-sidebar li {
  list-style: none;
  padding-left: 10px;
}
.category-sidebar a {
  text-decoration: none;
}
.category-sidebar a:hover {
  color: #4eb305;
}
.category-sidebar a.active {
  color: red;
}
.category-sidebar > ul > li > a {
  font-weight: bold;
}
.category-sidebar h4 {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #0a53be;
  padding-bottom: 10px;
}

.contact-firstCol {
  background: rgba(7, 10, 65, 0.8);
  color: white;
  text-align: center;
  border-radius: 15px;
}
.contact-firstCol h4 {
  line-height: 40px;
  font-weight: 400;
  margin-top: 20px;
}
.contact-firstCol img {
  width: 100px;
}

.formContact label {
  font-weight: 700;
}
.formContact .btn-primary {
  background-color: rgba(7, 10, 65, 0.8);
  border-color: rgba(7, 10, 65, 0.8);
}

.footer {
  background: #0a0a0a;
  color: white !important;
  text-align: center;
}

.detailsPost h1 {
  font-weight: 600;
}
.detailsPost .descriptionPost {
  font-weight: 500;
  font-style: italic;
}
.detailsPost img {
  max-width: 100%;
}