@using ASP_MVC.Areas.AdminCP.Menu
@model dynamic
@inject AdminSideBarService AdminSideBarService
@{
    ViewBag.Title = "Xóa Database";
    Layout = "_AdminLayout";
}

<h1>@ViewBag.Title</h1>
<p class="alert alert-danger">Có chắc chắn xóa ?</p>
<form method="post">
    <button type="submit" class="btn btn-danger">
        Xóa Database
    </button>
    <hr/>
    <a class="btn btn-primary" asp-action="Index">Database Manage</a>
</form>

@{
    AdminSideBarService.SetActive("DatabaseManage","Database","Index");
}
@section Sidebar
{
    @Html.Raw(AdminSideBarService.RenderHtml())
}