@model ASP_MVC.Models.Blog.Category
@using ASP_MVC.Areas.AdminCP.Menu
@inject AdminSideBarService AdminSideBarService
@{
    ViewData["Title"] = "Nội dung danh mục Blog";
    Layout = "_AdminLayout";

}

<h1>@Model.Title</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nội dung
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Description)
        </dd>
        <dt class = "col-sm-2">
            Url
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
    </dl>
</div>
<div>
    <a class = "btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh sửa</a> |
    <a class="btn btn-primary" asp-action="Index">Danh sách chuyên mục</a>
</div>

@section Sidebar
{
    @Html.Raw(AdminSideBarService.RenderHtml())
}